<launch>

    <arg name="sensor_topic" default="vehicle/laser"/>
    <arg name="actuator_topic" default="vehicle/actors"/>

    <!-- put arguments defined above into parameter server -->
    <param name="vehicle/actuator_topic" value="$(arg actuator_topic)" type="str"/>
    <param name="vehicle/sensor_topic" value="$(arg sensor_topic)" type="str"/>

    <node name="racing_controller" pkg="racing" type="racing_controller_node" output="screen"/>

</launch>
