<?xml version="1.0"?>
<robot name="racing_cart">	
    <link name="map">
        <visual>		
            <origin xyz="0 0 -1"/>
            <geometry>
                <mesh filename="package://racing/resources/Map.dae" scale="33.8 33.8 1"/>
            </geometry>
        </visual>
    </link>
    <link name="base">
    </link>
    <joint name="my_joint" type="planar">
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <parent link="map"/>
         <child link="base"/>
    </joint>
</robot>	
